
*, *:before, *:after {
  box-sizing: border-box;
}
body {
  width:700px;
  padding:20px;
  background:#FCFCFB;
}
.touch {
margin-left:auto;
margin-right:auto;
text-align:center;
font-family:sans-serif;
margin-top:90px;
}
hr {
  width:150px;
  border:1px solid #DDDDDD;
}
.firstbox {
  width:43%;
  height:60px;
  margin-right:20px;
}
.secondbox{
  width:48.5%;
  height:60px;
  margin-top:20px;
  margin-bottom:20px;
}
.thirdbox{
  width:95%;
  height:200px;
  margin-left:0.7%;
  margin-top:20px;

}
button {
  background:#6AD8A9;
  border:none;
  display:block;
  margin-left:auto;
  margin-right:auto;
  width:250px;
  color:#fff;
  height:75px;
  font-size:20px;
}
input, textarea {
  background:#E1E4E3;
  font-family:sans-serif;
  font-size:14px;
  border:none;
  font-size:20px;
  padding:20px;
}
.text {
  padding:20px;
}
h1 {
  font-size:35px;
  color:#5F686C;
}
@media screen and (max-width:612px) {
  .firstbox, .secondbox {
    width:100%;
    display:block;
  }
}
